html, body {
    margin: 0;

    height: 100%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif; /* Applied 'Ubuntu' font family */
}
body {
    padding-top: 100px;
    padding-bottom: 100px;
}
.body .search {
    background-color: #f1f1f1; /* Background color */
    border: 1px solid transparent; /* Added border */

}

header .logo {
    height: 60px;
    width: 60px;
}

body .city{
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 35%;
    
}
body #city1{
    margin-left: 15%;
}
body #city4{
    margin-right: 15%;
}
body .fImage{
    height: 20px;
    width: 22px;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
body .search{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100;
    padding: 100;
    height: 380px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center ;
}
footer .contactUslogo{
    display: flex;
    justify-content:  flex-end;
    margin-left: 10px; /* Adjust spacing between images */
    margin-right: 10px;

}
footer .contactUsText{
    display: flex;
    justify-content:  flex-start;
    text-decoration: none; /* Removes underline */
    margin-left: 10px; /* Adjust spacing between images */
    margin-right: 10px;
    color: black;

}

.citySearchBox {
    width: 300px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    padding: 10px;
    border: 2px solid #ccc; /* Add border */
    border-radius: 20px; /* Add rounded corners */
    font-size: 16px; /* Adjust font size as needed */
    outline: none; /* Remove default input focus outline */
}

.footerText{
    display: flex;
    justify-content:  center;
    align-content: center;
    align-items: center ;
}
.ViewMore{
    display: flex;
    justify-content:  center;
    align-content: center;
    align-items: center ;
    text-decoration: none; /* Removes underline */
    color: black;
}
header {
    position: fixed;
    width: 100%;
    top: 0;

}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}
.login{
    display: flex;
    justify-content:  flex-end;
    align-items: center ;
    text-decoration: none; /* Removes underline */
    margin-left: 10px; /* Adjust spacing between images */
    margin-right: 10px;
    color: black;
}