html, body {
    margin: 0;
    padding: 20;
    height: 100%;
    background-color: #e0e0e0;
}

header .logo {
    height: 60px;
    width: 60px;
}
.RadissonImage {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(132, 136, 139);
    background-position: 20%;
  }
  .hotelDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(132, 136, 139);
    width: 40%; /* Ensures the section takes full width */
    transform: translateX(73%); /* Centers the section vertically */



  }
body .fImage{
    height: 20px;
    width: 22px;
}
body .guestDetails{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

body .tariffdetails{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 10px;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
